*.zip filter=lfs diff=lfs merge=lfs -text
ECEN-325.zip filter=lfs diff=lfs merge=lfs -text
ECEN-454.zip filter=lfs diff=lfs merge=lfs -text
CSCE-313.zip filter=lfs diff=lfs merge=lfs -text
CSCE-420.zip filter=lfs diff=lfs merge=lfs -text
CSCE-483.zip filter=lfs diff=lfs merge=lfs -text
ENGR-111.zip filter=lfs diff=lfs merge=lfs -text
HS-Projects.zip filter=lfs diff=lfs merge=lfs -text
SOCI-313.zip filter=lfs diff=lfs merge=lfs -text
CSCE-221.zip filter=lfs diff=lfs merge=lfs -text
CSCE-350.zip filter=lfs diff=lfs merge=lfs -text
CSCE-462.zip filter=lfs diff=lfs merge=lfs -text
ECEN-214.zip filter=lfs diff=lfs merge=lfs -text
ECEN-420.zip filter=lfs diff=lfs merge=lfs -text
PHIL-482.zip filter=lfs diff=lfs merge=lfs -text
CSCE-314.zip filter=lfs diff=lfs merge=lfs -text
CSCE-315.zip filter=lfs diff=lfs merge=lfs -text
CSCE-481.zip filter=lfs diff=lfs merge=lfs -text
CSCE-431.zip filter=lfs diff=lfs merge=lfs -text
ECEN-248.zip filter=lfs diff=lfs merge=lfs -text
ENGR-112.zip filter=lfs diff=lfs merge=lfs -text
TCMG-308.zip filter=lfs diff=lfs merge=lfs -text
CSCE-113.zip filter=lfs diff=lfs merge=lfs -text
CSCE-222.zip filter=lfs diff=lfs merge=lfs -text
CSCE-410.zip filter=lfs diff=lfs merge=lfs -text
